@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

:root {
  --preto: #000000;
  --Branco: #ffffff;
  --cinsa: #30373e;
  --cinsa2: #adb5bd;
  --cinsa3: #d3d7db;
  --Branco2: #fafafa;
  --logo: #5a27f2;
  --logo2: #845ef7;
  --logo3: #e1d4ff;
  --logo4: #f8f5ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100px;
  border-radius: 0px 0px 32px 32px;
  background-color: var(--logo4);
}

header .nav-menu {
  display: flex;
  justify-content: space-between;
  margin-inline: 75px;
}

.logo-system {
  margin: 21px 0 21px;
}

.search-pesquisa {
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin: 21px 0 21px;
}

nav > ul {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 40px;
  list-style-type: none;
  cursor: pointer;
}

.border-header{
  border: 1px solid var(--cinsa3);
  padding: 18px 20px;
  border-radius: 8px;
  margin: 21px 0 21px;
}

ul > li {
  color: var(--preto);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.card-banner{
  width: 1250px;
  height: 600px;
  border-radius: 32px;
  margin-top: 50px;
  margin-inline: 75px;
  background-image: url(assets/Banners/Banner\ 1.png);
  background-size: cover;
}
